
// Text colors
$text-color-primary: #5f6368;

// Background colors
$background-color-primary: #fff;

// Color status
$warning-primary: #D0021B;
$warning-secondary: #500404;
$success-primary: #088423;
$success-secondary: #044011;
$aborted-primary: #a57c01;
$aborted-secondary: #564203;
$no-built-primary: #000;
$no-status-primary: gray;


//Builds colors
$builds-bg-color: #FAFAFA;
